.globe-info {
    text-align: center;
}

.globe-info h2 {
    font-size: var(--fs-xl);
    line-height: 50px;
    color: var(--color-bold);
    margin-top: -70px;
    margin-bottom: 20px;
}

.globe-info p {
    font-size: var(--fs-xsm);
    line-height: 30px;
    color: var(--color-medium);
    font-weight: 500;
    margin-bottom: 156px;
}

.globe-info img {
    display: block;
    margin: 0 auto;
}
