.subscribe {
    position: relative;
    width: 1140px;
    height: 200px;
    display: flex;
    /* justify-content: space-between; */
    gap: 340px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px -5px rgba(12, 12, 12, 0.35);
    /* margin-bottom: 95px; */
    top: 80px;
    background-color: var(--color-white);
    /* z-index: 1; */
}

.subscribe-content{
    margin-left: 70px;
    margin-top: 20px;
}

.subscribe-content h2{
    font-size: var(--fs-xl);
    color: var(--color-bold);
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}

.subscribe-content p{
    font-size: var(--fs-xsm);
    color: var(--color-medium);
    line-height: 30px;
}
